@model AspNetNetwork.Models.User

<div class="container p-4 border">
    <h2>Confirmation</h2>
    <p>@Model.Name (@Model.Email) became an ASP .NET developer.</p>
    <p><a asp-controller="User" asp-action="AllUsers">Let's look for your new friends</a></p>
</div>