<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <title>ASP NET Network</title>
</head>
<body>
    @RenderBody()
</body>
</html>