@using ExpensesManager.Models.ViewModels;
@model ExpenseVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Expense.Id" hidden />
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row ">
                <div class="row pb-2">
                    <h2 class="text-primary">@(Model.Expense.Id != 0 ? "Update" : "Create") Product</h2>
                    <hr />
                </div>
                <div class="mb-3">
                    <label asp-for="Expense.Comment"></label>
                    <input asp-for="Expense.Comment" class="form-control" />
                    <span asp-validation-for="Expense.Comment" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Expense.SpentMoney"></label>
                    <textarea asp-for="Expense.SpentMoney" class="form-control"></textarea>
                    <span asp-validation-for="Expense.SpentMoney" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Expense.CategoryId"></label>
                    <select asp-for="Expense.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <span asp-validation-for="Expense.CategoryId" class="text-danger"></span>
                </div>
                <
                <div class="col-12">
                    @if (Model.Expense.Id != 0)
                    {
                        <button type="submit" onclick="return Validate Input()" class="btn btn-primary col-12" style="width:150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary col-12" style="width:150px">Create</button>
                    }
                </div>
            </div>
        </div>
    </div>


</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        function ValidateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an image!'
                });
                return false;
            } else {
                return true;
            }
        }
    </script>
}